# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Virtual environments
venv/
env/
.venv/
.env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Databases
*.sqlite3

# Environment variables
.env
